# Archivos de entorno y compilación Python
venv/
*.pyc
__pycache__/

# Variables de entorno secretas
.env

# Archivos de base de datos local de desarrollo
*.sqlite3

# Archivos multimedia subidos por usuarios en pruebas
media/

# Archivos recolectados de producción
staticfiles/

# Carpetas de editores
.vscode/
.idea/
